/* Center the contact info */
.contact-info {
    text-align: center;
    background-color: #bfe5ff; /* Light blue color */
    border-radius: 40px;
    padding: 50px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
    max-width: 500px; /* Adjust as needed */
  }
  
  /* Style the icons */
  .contact-info i {
    margin-right: 40px;
    color: #555;
   
  }
  
  /* Style the heading */
  .contact-info h2 {
    margin-bottom: 40px;
    color: #333;
  }
  
  /* Style the paragraphs */
  .contact-info p {
    margin-bottom: 30px;
    color: #666;
  }
  
  /* Hover effect on icons */
  .contact-info i:hover {
    color: #007bff; /* Change color on hover */
    cursor: pointer;
  }